@font-face {
    font-family: 'Hero';
    src: local('Hero Light'), local('Hero-Light'), url('Herolight.woff2') format('woff2'), url('Herolight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Hero';
    src: local('Hero Regular'), local('Hero-Regular'), url('Heroregular.woff2') format('woff2'), url('Heroregular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hero';
    src: local('Hero Bold'), local('Hero-Bold'), url('Herobold.woff2') format('woff2'), url('Herobold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
