@font-face {
    font-family: 'Hero';
    src: local('Hero Light'), local('Hero-Light'), url('../hero/Herolight.woff2') format('woff2'), url('../hero/Herolight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

.container{
 height: 100vh;
 background: linear-gradient(180deg, #02253F 0%, #010204 100%);
 justify-content:space-evenly;
 display: flex;
 flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 300px;
    padding-left: 25px;
    height: 30px;
    background-color: #213849;
    border: none;
    border-radius: 10px;
    color: #fff;
}


.numberStart{
    position: relative;
    z-index: 1;
    margin-right: -21px;
    font-size: 13px;
    color: #fff;
}

.itemForm{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Hero", sans-serif;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    font-weight: 200;
}

.buttonSubmit{
    color: #000;
    background-color: #e4e9ed;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    border: none;
    font-family: "Hero", sans-serif;
    letter-spacing: 1px;
    font-size: 17px;
    cursor: pointer;
}

.buttonSubmit:active{
    background-color: rgb(154, 154, 154);
}
